<div class="detai_product mt-4">
    <div class="container">
        <div class="detai_buy_product">
            <div class="row">
                <div class="col-xl-6">
                    <div class="contai_img">
                        <img src="/{{ foods.imageFood}}"
                            alt="" class="big_img">

                        <div class="all_sm_imgPro">
                                <img src="/img/so1.jpg" alt="" class="sm_img">
                                <img src="/img/so2.jpg" alt="" class="sm_img">
                                <img src="/img/so3.png" alt="" class="sm_img">
                            </div>
                        </div>
                </div>
                <div class="col-xl-6">
                    <div class="name_product">
                       {{foods.nameFood}}
                    </div>
                    <div class="title_pro">
                        {{foods.titleFood}}
                    </div>
                    <div class="price">
                        {{foods.price}}$
                    </div>

                    <div class="note">
                    <div class="txt_note">
                        <span>Ghi Chú</span>
                        <i class="fa-regular fa-paper-plane"></i>
                    </div>
                        <textarea class="custo_note" name="" id="" cols="65%" rows="5"></textarea>
                    </div>

                    <div class="pay_detai">
                        <div class="sum">
                        <span>Tổng tiền: </span>
                        <p>15000 VND</p>
                    </div>
                    <div class="quanlity_pay_detai">
                        <span>Số lượng: </span>
                        <p>3</p>
                    </div>
                    </div>
                    <button class="payment">Thanh Toán</button>
                </div>
            </div>
        </div>

        <div class="all_text_detai">
            <div class="name_all_text_detai">
                Name Food
            </div>
            <div class="title_all_text">
                title food
            </div>
            <div class="descrip_food">
                Vietnamese Beef Noodle (Phở Bò) is one of the most popular dish in Vietnam. The origin of Vietnamese Beef Noodle originated in northern Vietnam in the early 20th century and then became popular in Vietnam and many parts of the world after the Vietnam War.Vietnamese Beef Noodle is the combination of broth, rice noodles (Bánh Phở), some kinds of herbs, and beef or chicken. Vietnamese Beef Noodle is garnished with coriander leaves, green onions, and white onions. The characteristic of Vietnamese traditional food is often served with lots of herbs (Thai basil, Culantro), bean sprouts and various other accompaniments, such as hot chili sauce, hoisin sauce and a slice of lemon. Vietnamese beef noodle is a delicious soup. You will quickly fall in love with the traditional food because of its savory broth, chewy noodles, the tender beef slices, and scent and tastes of herbs. Vietnamese beef noodle is suitable for cold evenings, after a hard-working day, or even for those who are sick.
            </div>
        </div>

        <div class="comment">
            <div class="title_Comment">
                Bình Luận
            </div>
            <div class="show_Comment">
                <div class="accout_cmt">
                    <img src="/img/so1.jpg" alt="" class="avata_cmt">
                    <div class="name_cmt">Quoc Vuong</div>
                </div>
                    <div class="txt_cmt">
                        đó là 1 món ăn ngon, tôi chưa bao giờ được ăn ngon như vậy
                    </div>
                    <div class="reply_cmt">
                        <i class="fa-regular fa-heart icon_rep"></i>
                        <a class="rep icon_rep">phản hồi</a>
                    </div>
            </div>
             <div class="post_Comment">
                <input type="text" placeholder="Bình luận">
                <button class="cmt"><i class="fa-solid fa-share"></i></button>
            </div>
        </div>

    </div>
</div>