<div class="footer float-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xl-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item disabled">Khám phá</li>
          <li class="list-group-item">Second item</li>
          <li class="list-group-item">Third item</li>
          <li class="list-group-item">Fourth item</li>
        </ul>
      </div>
      <div class="col-xl-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item disabled">Công ty</li>
          <li class="list-group-item">Second item</li>
          <li class="list-group-item">Third item</li>
          <li class="list-group-item">Fourth item</li>
        </ul>
      </div>
      <div class="col-xl-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item disabled">Tham gia trên</li>
          <li class="list-group-item">Second item</li>
          <li class="list-group-item">Third item</li>
          <li class="list-group-item">Fourth item</li>
        </ul>
      </div>
      <div class="col-xl-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item disabled">Giấy phép</li>
          <li class="list-group-item">Second item</li>
          <li class="list-group-item">Third item</li>
          <li class="list-group-item">Fourth item</li>
        </ul>
      </div>
    </div>
    <div class="end_footer mt-2">
      <p class="end_text_footer">
        Công Ty Cổ Phần Foody, Lầu G, Tòa nhà Jabes 1, 244 đường Cống Quỳnh, phường Phạm Ngũ Lão, Quận 1, TP.HCM
      </p>
      <p class="end_text_footer">Email: support@shopeefood.vn </p>
      <p class="end_text_footer">  Giấy CN ĐKDN số 0311828036 do Sở Kế hoạch và Đầu tư TP.HCM cấp ngày 11/6/2012, sửa đổi lần thứ 23, ngày 10/12/2020
        Giấy phép thiết lập MXH trên mạng số 363/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 30/6/2016 Người chịu trách nhiệm: Đặng Hoàng Minh.</p>
    </div>
  </div>
</div>
