<div class="content">
    <div class="container">
        <div class="content_app">
            <div class="content_login" id="log">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="login_left">
                            <div class="title">
                                Login
                            </div>
                            <div class="tip">
                                welcome to my website !!!
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="login_right">
                            <form action="/admin/account/login" method="POST">
                                <div class="ip">
                                    <label for="">User Name</label>
                                    <input type="text" name="username" id="username" class="ip_log"
                                        placeholder="UserName">
                                </div>
                                <div class="ip">
                                    <label for="">password</label>
                                    <input type="password" name="password" id="password" class="ip_log"
                                        placeholder="password">
                                </div>
                                <button onclick="login()" class="submit">Login</button>
                            </form>
                            <div class="question_user">
                                <span>Bạn chưa có tài khoản ?</span>
                                <span class="what_sigin change_btn" onclick="changelog()">SignUp ?</span>
                                <a href="" class="what_sigin"><i class="fa-brands fa-facebook"></i></a>
                                <a href="" class="what_sigin"><i class="fa-brands fa-google"></i></a>
                            </div>
                            <div id="login-error-message" class="error-message" style="display: none;">
                                Đăng nhập thất bại. Vui lòng kiểm tra lại tên đăng nhập và mật khẩu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_register hiden_1" id="regis">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="login_left">
                            <div class="title">
                                Register
                            </div>
                            <div class="tip">
                                welcome to my website !!!
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="login_right">
                            <form action="/admin/account/register" method="POST">
                                <div class="ip">
                                    <label for="">Email</label>
                                    <input type="text" name="email" class="ip_log" placeholder="Email">
                                </div>
                                <div class="ip">
                                    <label for="">User Name</label>
                                    <input type="text" name="username" class="ip_log" placeholder="UserName">
                                </div>

                                <div class="ip">
                                    <label for="">Password</label>
                                    <input type="password" name="password" class="ip_log" placeholder="Password">
                                </div>
                                <button class="submit">Register</button>
                                <div class="question_user">
                                    <span>Bạn đã có tài khoản ?</span>
                                    <span class="what_sigin change_btn" onclick="changelog()">SignIn ?</span>
                                    <a href="" class="what_sigin"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="" class="what_sigin"><i class="fa-brands fa-google"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script>
    var changelog = () => {
        var regis = document.getElementById('regis');
        var log = document.getElementById('log');
       if (log.classList.contains('hiden_1') && !regis.classList.contains('hiden_1')) {
      log.classList.remove('hiden_1');
      regis.classList.add('hiden_1');
    } else {
      log.classList.add('hiden_1');
      regis.classList.remove('hiden_1');
    }
    }
    
 function setCookie(cname, cvalue, exdays, path = "/") {
  const d = new Date();
  d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
  let expires = "expires=" + d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=" + path;
}

function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for (let i = 0; i < ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
    var login = () => {
        $.ajax({
            url: 'admin/account/login',
            type: 'POST',
            data: {
                username: $('#username').val(),
                password: $('#password').val()
            }
        }).then(data => {
            setCookie('token', data.token, 1, "/")
            window.location.href = '/';
        })
            .catch(err => {
                console.log(err);
                $('#login-error-message').show();
                alert('Đăng nhập thất bại. Vui lòng kiểm tra lại tên đăng nhập và mật khẩu.');
            })
    }

</script>