<div class="content_register m-auto" id="regis">
                <div class="login_left">
                    <div class="title">
                        Register
                    </div>
                    <div class="tip">
                        welcome to my website !!!
                    </div>
                </div>

                <form action="/admin/accounts/register" class="login_right" method="POST">
                    <div class="ip">
                        <label for="">Email</label>
                        <input type="text" name="email" class="ip_log" placeholder="Email">
                    </div>
                    <div class="ip">
                        <label for="">User Name</label>
                        <input type="text" name="username" class="ip_log" placeholder="UserName">
                    </div>

                    <div class="ip">
                        <label for="">Password</label>
                        <input type="password" name="password" class="ip_log" placeholder="Password">
                    </div>
                    <button class="submit">Register</button>
                    <div class="question_user">
                        <span>Bạn đã có tài khoản ?</span>
                        <span class="what_sigin change_btn" onclick="changelog()">SignIn ?</span>
                        <a href="" class="what_sigin"><i class="fa-brands fa-facebook"></i></a>
                        <a href="" class="what_sigin"><i class="fa-brands fa-google"></i></a>
                    </div>
                </form>
            </div>