#pagi ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto; }

#pagi ul li {
  color: aliceblue;
  cursor: pointer; }

#pagi ul li a {
  padding: 5px 10px; }

#pagi ul li a:hover {
  color: #ffbf00; }

.content {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://a-static.besthdwallpaper.com/autumn-forest-and-yellow-leaves-wallpaper-2560x720-12212_72.jpg); }

.content_app {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1); }

.hiden_1 {
  display: none; }

.content_login {
  width: 100%;
  height: 400px; }

.content_register {
  width: 100%;
  height: 500px; }

.login_left {
  width: 100%;
  height: 100px;
  margin: 20px 20px 0 0px;
  text-align: center; }

.title {
  font-size: 60px;
  margin-bottom: 30px;
  color: white; }

.tip {
  font-size: 40px;
  color: white; }

.login_right {
  width: 100%;
  margin: 0 0px 0 20px;
  text-align: center; }

.ip {
  position: relative;
  margin: 40px 0; }

.ip input {
  padding-left: 10px; }

.ip label {
  position: absolute;
  left: 0;
  top: -45%;
  font-size: 20px;
  font-weight: 600; }

.ip_log {
  font-size: 20px;
  border-radius: 5px;
  height: 50px;
  width: 95%; }

.submit {
  background-color: black;
  color: aliceblue;
  font-size: 20px;
  width: 70%;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  cursor: pointer; }

.submit:hover {
  background-color: #ff9d00; }

.what_sigin {
  text-decoration: none;
  color: red;
  margin: 0 5px; }

.change_btn {
  background-color: transparent;
  border: none;
  cursor: pointer; }

.cart_items {
  width: 100%; }

.cart_item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  background-color: antiquewhite;
  border-radius: 3px; }

.cart_item_link {
  display: flex; }

.cart_omg_food {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-right: 10px; }

.detail_cart {
  color: black;
  margin-left: 10px; }

.name_food {
  font-size: 1rem;
  font-weight: bold; }

.title_food {
  font-size: 0.8rem; }

.price_food {
  font-size: 1rem;
  font-weight: 600; }

.quanlity {
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #939191;
  border-radius: 5px;
  width: 50px;
  height: 30px;
  text-align: center; }

.close_cart {
  margin-right: 20px;
  font-size: 1.5rem;
  font-weight: bold; }

.ct_2 {
  color: #ff5100; }

.menu_account_sm {
  display: none !important; }

@media (max-width: 992px) {
  .name_restaurant {
    display: none; }
  .menu_account_lg {
    display: none !important; }
  .menu_account_sm {
    display: block !important; }
  .slide_customer {
    height: 250px !important; }
  .ct_1 {
    display: none !important; } }

.name_restaurant {
  color: black; }

@media (max-width: 576px) {
  .name_restaurant {
    display: none; } }

.big_img {
  width: 90%;
  height: 325px;
  border-radius: 5px; }

.all_sm_imgPro {
  width: 80%;
  margin: auto;
  display: flex;
  text-align: center; }

.sm_img {
  width: 100px;
  height: 100px;
  margin: 10px 5px;
  border-radius: 5px; }

.name_product {
  font-size: 1.6rem;
  font-weight: bold; }

.title_pro {
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #f0afce; }

.price {
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ea4509; }

.pay_detai {
  display: flex;
  justify-content: space-between; }

.txt_note {
  font-size: 1.2rem;
  font-weight: bold; }

.custo_note {
  color: #f6667e;
  border-radius: 5px; }

.pay_detai {
  margin: 0 10px; }

.sum {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ea4509; }

.quanlity_pay_detai {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ea4509; }

.name_all_text_detai {
  font-size: 1.6rem;
  font-weight: bold; }

.title_all_text {
  font-size: 1.3rem;
  font-weight: bold; }

.comment {
  margin-top: 20px;
  width: 70%;
  border: 1px solid #333;
  border-radius: 10px;
  height: 320px;
  position: relative; }

.title_Comment {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f0afce;
  margin: 5px 10px; }

.post_Comment {
  position: absolute;
  bottom: 0;
  margin: 5px 10px;
  width: 50%; }

.post_Comment input {
  width: 80%;
  border-radius: 10px;
  padding: 5px; }

.cmt {
  background-color: transparent;
  border: none; }

.show_Comment {
  height: 120px; }

.accout_cmt {
  display: flex; }

.avata_cmt {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.name_cmt {
  font-size: 1.1rem;
  font-weight: 500;
  color: #333; }

.txt_cmt {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #333;
  margin: 10px; }

.reply_cmt {
  width: 65%;
  float: right; }

.icon_rep {
  margin: 0 10px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: none !important; }

.tx_00 {
  color: #333333;
  font-weight: bold;
  cursor: pointer; }

.top_detai_head {
  background-color: black; }

.bot_detai_head {
  background-color: #eeeaea; }

.address_head, .contac_head {
  color: #efefef; }

.address_head {
  font-size: 13px; }

.contac_head {
  background-color: pink; }

.logo {
  width: 60px;
  height: 60px; }

.tittle_logo_link {
  display: flex;
  align-items: center; }

.name_restaurant {
  color: #bb2d06;
  font-size: 25px;
  font-weight: bold;
  font-family: cursive; }

.user {
  border: 0.5px solid #333333; }

.avata_account {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #333333; }

.drop_account {
  z-index: 1000000000000000 !important; }

/* -----------------------------------end head */
.slide_1st {
  background-color: #e7873e; }

.slider_01 {
  width: 1100px;
  height: 100%; }

.slide_customer {
  height: 400px; }

/* ------------------------------------------end slider */
.all_content {
  background-image: linear-gradient(to right, #f0afce, #f6667e); }

.buy_now {
  background-color: #ff5100 !important;
  color: #efefef !important; }

.content_nav {
  background-color: #ff5100; }

.nav_content_item:hover {
  background-color: #ef294a; }

.nav_content_item:hover a {
  color: white;
  text-shadow: 1px 1px 2px pink;
  font-size: 17px; }

.cd_01 {
  margin: auto; }

.tx_00 {
  font-size: 20px;
  font-weight: 600; }

.tx_00:hover {
  color: #ff5100; }

.tx_01 {
  color: white;
  text-shadow: 1px 1px 2px pink;
  font-size: 20px;
  font-weight: 600; }

.tx_02 {
  color: white;
  text-shadow: #FC0 1px 0 10px;
  font-size: 25px;
  font-weight: 600; }

.tx_fo {
  font-size: 20px;
  font-weight: 600; }

.ct_1 {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.cb_01 {
  padding: 0.5rem !important; }

.page_01 a {
  color: #eeeaea;
  font-weight: bold;
  background-color: transparent !important; }

.image_food {
  height: 165px; }

/* -----------------------------end main-content */
.story_content {
  background-image: linear-gradient(to right, #f0afce, #f6667e); }

.title_story {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #077c87; }

.img_story {
  width: 100%;
  height: 280px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }

.rotage_r_story {
  right: 235px;
  top: 100px; }

.rotage_r {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border: 4px solid #eeeaea; }

.title_News {
  font-size: 1.2rem;
  font-weight: 700;
  color: black; }

.title_News i {
  color: #0786a6; }

.tille_news {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text_story_content {
  font-size: 16px;
  color: #151315; }

/* ------------------------------end content------------------ */
.footer {
  background-color: #ffffff; }

.end_footer {
  text-align: center;
  border-top: 1px solid #666; }

.end_text_footer {
  color: #151315;
  font-size: 10px;
  margin: 5px 0 0 0; }

/* next page-news */
.sli_img {
  width: 50px;
  height: 50px;
  margin: 10px 0; }

/* ----------------- */
.popy {
  background-color: yellow;
  height: 200px; }

.popy1 {
  background-color: burlywood;
  width: 100%;
  height: 100px; }

.all_product {
  height: 680px;
  background-color: #F5F5F5;
  overflow-y: scroll;
  overflow-x: hidden; }

/* .all_product:hover{
    overflow-y: scroll;
    transition:1s ease-in-out;
} */
.all_product::-webkit-scrollbar {
  width: 3px;
  background-color: #151315; }

.all_product::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #ff5100; }

.all_product::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

/* --------------------product */
.chose_address {
  width: 50%;
  height: 35px;
  padding: 0 10px;
  border-radius: 20px;
  background-color: #e7873e;
  text-align: center; }

.order_product {
  color: white;
  font-size: 20px; }

/* ---------------------news */
.all_new {
  height: 250px; }

.news_main {
  height: 250px;
  text-align: center;
  background-image: url(../img/new_01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px; }

.news_content {
  color: white;
  font-size: 16px;
  font-weight: 500; }

.news_title_main {
  color: #ef294a;
  font-size: 30px;
  font-weight: bold; }

.news_quote {
  font-size: 16px;
  color: white; }

.news_link02 {
  color: red; }

.news_small::after {
  position: absolute;
  content: "";
  top: 75px;
  right: 235px;
  display: flex;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  border: 3px solid black;
  animation: spin 5s linear infinite; }

.outstand_01 {
  height: 115px;
  margin: 5px 0;
  background-image: url(../img/story1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px; }

.trash_admin {
  color: #666;
  font-size: 1.5rem;
  font-weight: bold; }

.trash_admin:hover {
  color: #ed9e79; }

.selected {
  color: red; }

.search_admin {
  width: 100%;
  text-align: center;
  position: relative; }

.ip_search_admin {
  width: 90%;
  height: 30px;
  padding: 0 50px 0 10px;
  border-radius: 10px; }

.btn_search_admin {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 2px;
  right: 65px; }

.nav_admin {
  list-style: none;
  background-color: #333333;
  height: 100vh;
  border-radius: 10px 0 0 10px; }

.nav_item_admin {
  width: 100%;
  height: 50px;
  padding: 5px 10px; }

.nav_link_admin {
  color: #eeeaea;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none; }

.nav_link_admin:hover {
  text-decoration: none;
  color: #ed9e79; }

.table_all {
  background-color: #666;
  height: 100vh; }

.table_admin {
  text-align: center; }

.add_all_admin {
  border-radius: 10px;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ed9e79;
  border: 1px solid #ed9e79;
  background-color: white; }

.add_all_admin:hover {
  background-color: #ed9e79;
  color: white; }

.btn_ud_admin {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: #ed9e79;
  margin: 0 5px; }

.btn_ud_admin:hover {
  color: #ee7f4c; }

.content_admin {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 20ch;
  color: #eeeaea;
  font-size: 1.2rem; }
