$green:green;
$background1:black;
$tittle-color:black;
$private-name:#666;
$private-name1:rgb(187, 45, 6);
$text1-color:rgb(239, 239, 239);
$slider-color:rgb(231, 135, 62);
$new-color:rgb(240, 175, 206);
$new1-color:rgb(239, 41, 74);
$main-menu:rgb(255, 81, 0);
$tx-main:rgb(255, 255, 255);
$text2-color:#151315;
$text-main:rgb(7,124, 135);
$link-color:rgb(255, 0, 0);