



.big_img{
    width: 90%;
    height: 325px ;
    border-radius: 5px;
}

.all_sm_imgPro{
    width: 80%;
    margin: auto;
    display: flex;
    text-align: center;
}

.sm_img{
    width: 100px;
    height: 100px;
    margin: 10px 5px;
    border-radius: 5px;
}




// ------------
.name_product{
    font-size: 1.6rem;
    font-weight: bold;
    
}
.title_pro{
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: $b1_color;
}
.price{
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color:rgb(234, 69, 9);
}



.pay_detai{
    display: flex;
    justify-content: space-between;
}

.note{

}
.txt_note{
    font-size: 1.2rem;
    font-weight: bold;
}
.custo_note{
    color:$b2-color;
    border-radius: 5px;
}
.pay_detai{
    margin: 0 10px;
}
.sum{
    font-size: 1.2rem;
    font-weight: bold;
    color:rgb(234, 69, 9);
}
.quanlity_pay_detai{
    font-size: 1.2rem;
    font-weight: bold;
    color:rgb(234, 69, 9);
}

.name_all_text_detai{
    font-size: 1.6rem;
    font-weight: bold;
}
.title_all_text{
    font-size: 1.3rem;
    font-weight: bold;
}

// ---------

.comment{
    margin-top: 20px;
    width: 70%;
    border: 1px solid #333;
    border-radius: 10px;
    height: 320px;
    position: relative;
}
.title_Comment{
    font-size: 1.5rem;
    font-weight: bold;
    color: $b1_color;
    margin: 5px 10px;
}
.post_Comment{
    position: absolute;
    bottom: 0;
    margin: 5px 10px;
    width: 50%;
}
.post_Comment input{
    width: 80%;
    border-radius: 10px;
    padding: 5px;
}
.cmt{
    background-color: transparent;
    border: none;

}
.show_Comment{
    height: 120px;
}
.accout_cmt{
    display: flex;
}
.avata_cmt{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.name_cmt{
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
}
.txt_cmt{
    margin-top: 5px;
    font-size: 0.9rem;
    color: #333;
    margin:10px;
}
.reply_cmt{
    width: 65%;
    float: right;
}
.icon_rep{
    margin: 0 10px;
}